[user]
  name = stefan judis
  email = stefanjudis@gmail.com
[color]
  diff = auto
  stats = auto
  branch = auto
  ui = auto
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  player = shortlog -sn
  d = diff
  dt = difftool
  co = commit
  cp = commit -p
  ch = checkout
  s = status
  b = branch
  a = add
  pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  log-fn = "!f() { git log -L :$1:$2; }; f"
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  unhide-all = update-index --really-refresh
  hidden = !git ls-files -v | grep \"^[a-z]\"
[mergetool]
  keepBackup = true
[core]
  editor = vim
  excludesfile = /Users/stefanjudis/.gitignore_global
[push]
  default = current
[color "diff"]
  old = red strike
  new = green italic
