[user]
  name = stefan judis
  email = stefanjudis@gmail.com
[color]
  diff = auto
  stats = auto
  branch = auto
  ui = auto
[alias]
  changes = diff --name-status -r
  lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%an%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  player = shortlog -sn
  d = diff
  dt = difftool
  co = commit
  cp = commit -p
  ch = checkout
  s = status
  b = branch
  a = add
[mergetool]
  keepBackup = true
[core]
  editor = vim
	excludesfile = /Users/stefanjudis/.gitignore_global
[push]
  default = simple
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color "diff"]
	old = red strike
	new = green italic
