<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>theme.bundled.dark</string>
	<key>theme</key>
	<string>alfred.theme.custom.8698DA14-214A-4F62-B1BA-2B99C3BDBA48</string>
</dict>
</plist>
